/.idea
/rel/log
/rel/redisloop
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
_build
deps
redis-server
rebar.lock
redisloop.iml
redis_config.dat
c_src/redis
