{sub_dirs, ["rel"]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/yunba/lager.git", {branch, "master"}}},
    {hierdis, ".*", {git, "git://github.com/nathanaschbacher/hierdis.git", "master"}},
    {erlzk, ".*", {git, "git://github.com/huaban/erlzk.git", {branch, "master"}}}
]}.

{pre_hooks, [{'compile', "c_src/build_deps.sh get-deps"},
    {'compile', "c_src/build_deps.sh make"}]}.

{post_hooks, [
    {clean, "c_src/build_deps.sh clean"},
    {generate, "cp -r priv rel/udon"}
]}.

{clean_files, []}.
