%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "redisloop", "1",
        [
         kernel,
         stdlib,
         sasl,
            lager,
            hierdis,
            erlzk,
         redisloop
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "redisloop"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
    {app, lager, [{incl_cond, include}]},
    {app, hierdis, [{incl_cond, include}]},
    {app, erlzk, [{incl_cond, include}]},
    {app, redisloop, [{incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "redisloop"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "redisloop/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/redisloop", "bin/redisloop"},
           {copy, "files/redisloop.cmd", "bin/redisloop.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           %% Following line may be safely removed in new projects
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
    {mkdir, "priv/redis"},
    {copy, "../priv/riak_kv_redis_backend.redis.config", "priv/riak_kv_redis_backend.redis.config"},
    {copy, "../priv/redis/redis-server", "priv/redis/redis-server"},
    {mkdir, "data/hierdis"}
          ]}.
